.image-custom-size {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

.texto-truncado {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease;
}

.collapsed-text {
    -webkit-line-clamp: unset;
    display: block;
}
